<h1>Listing invitees</h1>

<table>
  <tr>
	  <% for column in Invitee.content_columns %>
		<% unless column.name =~ /_at/ %>
	    <th><%= column.human_name %></th>
		<% end %>
	  <% end %>
  </tr>

<% for invitee in @invitees %>
  <tr>
	<% for column in Invitee.content_columns %>
		<% unless column.name =~ /_at/ %>
    	<td><%=h invitee.send(column.name) %></td>
		<% end %>
	<% end %>
    <td><%= link_to 'Edit', edit_invitee_path(invitee) %></td>
    <td><%= link_to 'Destroy', invitee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
	<th>Total</th>
	<td colspan="4"><%= h @total %></td>
	
	<td><%= h @total_under_4 %></td>
	<td><%= h @total_under_12 %></td>
	<td colspan="4">&nbsp;</td>
  </tr>
</table>

<br />

<%= link_to 'New invitee', new_invitee_path %>
<%= link_to 'Rooms', :controller => 'rooms', :action => 'admin', :id => 'argafarb' %>
