<h3><%= @room.name %></h3>
<p>Room Capacity: <%= @room.capacity %></p>
<p>Beds: <%= @room.beds_string %></p>
<p>Nightly Rate: <%= @room.nightly_rate %></p>

<%= button_to "Book This Room", {:action => 'book', :id => @room } %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
