<h1>Local Lodging Information</h1>

<p>We have reserved blocks of rooms at two local hotels, one in Santa Cruz, and one in Watsonville. </p>

<p>Santa Cruz: Continental Inn<br />
	About 35-45 minutes away from Pema Osel Ling<br />
	<%= link_to "http://www.continentalinnsantacruz.com/" %><br />
	Reservation is under "Bart Agapinan"<br />
	(831) 429-1221</p>
	
<p>Watsonville: Best Western Rose Garden Inn<br />
	About 20-25 minutes away from Pema Osel Ling<br />
	<%= link_to "http://www.bestwesternwatsonville.com/" %><br />
	Reservation is under "Bart Agapinan"<br />
	(831) 724-3367</p>
	
<p>You can also make your own reservations at local hotels and bed and breakfasts. Listed below is a partial list of local accomodations.</p>

<p>Watsonville: (20-25 minutes away)
<ul>
	<li><%= link_to "Best Value Inn", "http://www.bestvalueinn.com/bestv.cfm?idp=430" %> - (831) 724-2181</li>
	<li><%= link_to "Holiday Inn Express", "http://www.ichotelsgroup.com/h/d/ex/1/en/hotel/wtvll" %> - (831) 728-3600</li>
</ul></p>

<%= render :partial => 'links' %>
